.view{
    display: flex;
    flex-direction: column;
}
h1{
    margin: 1em;
}
.table {
  margin-left: 3em;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
}
.row{
    border: green groove;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    width: 100%;
}
.item{
    width: 20%;
    border: solid #eff1f3;
}

.examples {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: solid #eff1f3;
}
/* 
.column {
border: solid #eff1f3;
  display: flex;
  justify-content: center;
} */
