.row1{
    font-weight: 700;
    justify-content: center;
    width: 15%;
    border:black solid
}

.row {
    justify-content: center;
    width: 15%;
    border:black solid
}

.column{
    height: 7%;
    border: black solid;
    display: flex;
    justify-content: center;
}